.about-section {
  width: 80vw;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      line-height: 20px;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;

      .section {
        display: flex;
        align-items: center;
        border-bottom: 1px solid white;

        .left {
          flex: 1;

          .sub-section {
            margin: 12px 0px;

            h2 {
              margin: 2px 0;
              font-weight: 400;
              font-size: 18px;
            }
            p {
              margin: 0;
              font-style: italic;
            }
          }
        }

        &:last-of-type {
          border-bottom: none;
        }

        .icon {
          margin-left: 30px;
          font-size: 48px;
        }
      }
    }

    p {
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
  }
  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    object-fit: contain;
    max-height: 600px;
    
    // @include media(">=phone", "<lgphone") {
    //   width: 100%;
    // }
    // @include media(">=lgphone", "<tablet") {
    //   width: 100%;
    // }
    // @include media(">=tablet", "<desktop") {
    //   width: 100%;
    // }
    
    img {
      padding: 20px;
      background: var(--gray);
      border-radius: 25px;
      height: 100%;
      object-fit: contain;
    }
  }
}
