.header-wrapper {  
  // top / contain no-repeat url("../images/hero.jpg");
  width: 100vw;
  max-width: 1200px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  .hero-img {
    width: 100%;
  }

  .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background:  linear-gradient(to left, black, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 95%, black),
                linear-gradient(to bottom, black, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, black);
  }

  .heading-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 20px 20px;

    @include media("<tablet") {
      justify-content: space-between;
      padding: 60px 20px;
    }

    @include media(">=tablet") {
      width: 75%;
    }

    .heading-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        background: black;
        margin: 10px 0;
        text-align: center;
        font-size: 2.5rem;

        @include media(">=phone", "<lgphone") {
          font-size: 1rem;
          line-height: 10px;
          margin: 3px 0;
          padding: 10px 0;
        }

        @include media(">=lgphone", "<desktop") {
          font-size: 1.5rem;
          line-height: 10px;
          margin: 3px 0;
          padding: 10px 0;
        }

        @include media(">=desktop", "<smdesktop") {
          font-size: 2rem;
        }
      }
    }

    h2 {
      font-size: 2rem;
      margin: 0;
      text-align: center;
      @include media(">=phone", "<lgphone") {
        font-size: 1.5rem;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 1.5rem;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 1.5rem;
      }
    }

    p {
      width: 50%;
      text-align: center;
      overflow: hidden;
      @include media(">=phone", "<lgphone") {
        font-size: 12px;
        width: 100%;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 12px;
        width: 100%;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 14px;
        width: 100%;
      }
    }
  }
}
